//
//
//.filepond--root {
//  max-height: 10em;
//}
//
//.filepond--item {
//  width: calc(50% - .5em);
//}
.resultTable {
  width: 100%;
}

.titleTableColumn {
  width: 70%;
}

.dateTableColumn {
  width: 25%;
}

.confidenceTableColumn {
  width: 5%;
}

.headerSpacer {
  margin-top: 5%;
}
