<div class="spacer"></div>




<div class="container">

  <div class="row">

    <div class="col">

      <div style="height: 500px;">


        <p>{{recognitionState.status}} : {{roundN(recognitionState.progress) * 100}}%</p>

        <file-pond #myPond
                   [options]="pondOptions"
                   [files]="pondFiles"
                   (onremovefile)="pondHandleRemoveFile($event)"
                   (onaddfile)="pondHandleAddFile($event)">
        </file-pond>

      </div>


    </div>

    <div class="col">

      <h2>Feedback</h2>
      <!--
      <div *ngFor="let event of calendarEvents">

        <span *ngIf="event.needsReview">{{event.probableStartDate}}</span>

      </div>
      -->

      <!-- Exams Table -->
      <div *ngIf="displayExamTable">
        <h3>Exams to review</h3>
        <table class="resultTable" mat-table [dataSource]="examTableData">

          <ng-container matColumnDef="Import">
            <th class="deleteTableColumn" mat-header-cell *matHeaderCellDef> Import </th>
            <td mat-cell *matCellDef="let exam"><mat-checkbox checked="true"></mat-checkbox></td>
          </ng-container>

          <ng-container matColumnDef="Title">
            <th class="titleTableColumn" mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let exam">
              <textarea [(ngModel)]="exam.eventTitle" (ngModelChange)="testingExamsChange($event)"></textarea>
            </td>
          </ng-container>

          <ng-container matColumnDef="Date">
            <th class="dateTableColumn" mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let exam">
              <textarea [(ngModel)]="exam.probableStartDate" (ngModelChange)="testingExamsChange($event)"></textarea>
            </td>
          </ng-container>

          <ng-container matColumnDef="Confidence">
            <th class="confidenceTableColumn" mat-header-cell *matHeaderCellDef> Confidence </th>
            <td mat-cell *matCellDef="let exam"> {{exam.confidence}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

        </table>
      </div>

      <!-- Assignment Table -->
      <div *ngIf="displayAssignmentTable">
        <h3 class="headerSpacer"> Assignments to review</h3>
        <table class="resultTable" mat-table [dataSource]="assignmentTableData">

          <ng-container matColumnDef="Import">
            <th class="deleteTableColumn" mat-header-cell *matHeaderCellDef> Import </th>
            <td mat-cell *matCellDef="let assignment"><mat-checkbox checked="true"></mat-checkbox></td>
          </ng-container>

          <ng-container matColumnDef="Title">
            <th class="titleTableColumn" mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let assignment">
              <textarea [(ngModel)]="assignment.eventTitle" (ngModelChange)="testingAssignmentsChange($event)"></textarea>
            </td>
          </ng-container>

          <ng-container matColumnDef="Date">
            <th class="dateTableColumn" mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let assignment">
              <textarea [(ngModel)]="assignment.probableStartDate" (ngModelChange)="testingAssignmentsChange($event)"></textarea>
            </td>
          </ng-container>

          <ng-container matColumnDef="Confidence">
            <th class="confidenceTableColumn" mat-header-cell *matHeaderCellDef> Confidence </th>
            <td mat-cell *matCellDef="let assignment">{{assignment.confidence}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

        </table>
      </div>


    </div>

  </div>
</div>
